<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.chinese.model.Structure">
    <resultMap type="com.snake.chinese.model.Structure" id="structureResultMap">
        <result property="id" column="id_"/>
        <result property="name" column="name_"/>
        <result property="content" column="content_"/>
        <result property="remark" column="remark_"/>
        <result property="type" column="type_"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>

    <select id="selectAll" resultMap="structureResultMap">
		select * from book_structure
	</select>

    <select id="selectSome" parameterType="java.util.Map" resultMap="structureResultMap">
        select * from book_structure limit #{offset},#{limit}
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(1) from book_structure
    </select>

    <select id="getObject" resultMap="structureResultMap" parameterType="java.lang.Object">
        select * from book_structure where id_ = #{id}
    </select>

    <insert id="insert" parameterType="com.snake.chinese.model.Structure">
        insert into book_structure(id_,name_,content_,remark_,type_,created_time)
        values(#{id},#{name},#{content},#{remark},#{type},now())
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="com.snake.chinese.model.Structure">
        update book_structure
        <set>
            <if test="name != null">
              name_=#{name},
            </if>
            <if test="type != null">
              type_=#{type},
            </if>
            <if test="content != null">
                content_=#{content},
            </if>
            <if test="remark != null">
                remark_=#{remark},
            </if>
        </set>
        where id_ = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Object">
        delete from book_structure where id_ = #{id}
    </delete>

    <select id="findOneByMap" resultMap="structureResultMap">
        select * from book_structure where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} = #{param.value}
        </foreach>
        limit 0, 1
    </select>

    <select id="findOneByObject" parameterType="com.snake.chinese.model.Structure" resultMap="structureResultMap">
        select * from book_structure
        <where>
            <if test="name != null">
                and name_=#{name}
            </if>
            <if test="type != null">
                and type_ = #{type}
            </if>
        </where>
        limit 0, 1
    </select>

    <select id="findByMap" resultMap="structureResultMap">
        select * from book_structure where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} = #{param.value}
        </foreach>
    </select>

    <select id="findByObject" parameterType="com.snake.chinese.model.Structure" resultMap="structureResultMap">
        select * from book_structure
        <where>
            <if test="name != null">
                and name_=#{name}
            </if>
            <if test="type != null">
                and type_ = #{type}
            </if>
        </where>
    </select>

    <select id="findByIn" resultMap="structureResultMap">
        select * from book_structure where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} IN (#{param.value})
        </foreach>
    </select>

    <select id="findByLike" resultMap="structureResultMap">
        select * from book_structure where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} LIKE #{param.value}
        </foreach>
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="int">
        select count(1) from book_structure where 1=1
        <if test="whereClause != null">
            ${whereClause}
        </if>
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="structureResultMap">
        select ${fieldsClause} from book_structure where 1=1
        <if test="whereClause != null">
            ${whereClause}
        </if>
        <if test="orderClause != null">
            ${orderClause}
        </if>
        <if test="limit > 0">
            limit ${limit} offset ${offset}
        </if>
    </select>

</mapper>