<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.template.model.Frame">
    <resultMap type="com.snake.template.model.Frame" id="frameResultMap">
        <result property="id" column="id_"/>
        <result property="name" column="name_"/>
        <result property="folder" column="folder_"/>
        <result property="remark" column="remark_"/>
        <result property="createdTime" column="created_time"/>
        <result property="creatorId" column="creator_id"/>
    </resultMap>

    <select id="selectAll" resultMap="frameResultMap">
		select id_,name_,folder_,remark_,created_time,creator_id from template_frame
	</select>

    <select id="selectSome" parameterType="java.util.Map" resultMap="frameResultMap">
        select id_,name_,folder_,remark_,created_time,creator_id from template_frame limit #{offset},#{limit}
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(1) from template_frame
    </select>

    <select id="getObject" resultMap="frameResultMap" parameterType="java.lang.Object">
        select id_,name_,folder_,remark_,created_time,creator_id from template_frame where id_ = #{id}
    </select>

    <insert id="insert" parameterType="com.snake.template.model.Frame">
        insert into template_frame(id_,name_,folder_,remark_,created_time,creator_id)
        values(#{id},#{name},#{folder},#{remark},now(),#{creatorId})
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="com.snake.template.model.Frame">
        update template_frame
        <set>
            <if test="name != null">
                name_=#{name},
            </if>
            <if test="folder != null">
                folder_=#{folder},
            </if>
            <if test="remark != null">
                remark_=#{remark},
            </if>
        </set>
        where id_ = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Object">
        delete from template_frame where id_ = #{id}
    </delete>

    <select id="findOneByMap" resultMap="frameResultMap">
        select id_,name_,folder_,remark_,created_time,creator_id from template_frame where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} = #{param.value}
        </foreach>
        limit 0, 1
    </select>

    <select id="findOneByObject" parameterType="com.snake.template.model.Frame" resultMap="frameResultMap">
        select id_,name_,folder_,remark_,created_time,creator_id from template_frame
        <where>
            <if test="name != null">
                and name_=#{name}
            </if>
            <if test="remark != null">
                and remark_=#{remark}
            </if>
        </where>
        limit 0, 1
    </select>

    <select id="findByObject" parameterType="com.snake.template.model.Frame" resultMap="frameResultMap">
        select id_,name_,folder_,remark_,created_time,creator_id from template_frame
        <where>
            <if test="name != null">
                and name_=#{name}
            </if>
            <if test="remark != null">
                and remark_=#{remark}
            </if>
        </where>
    </select>

    <select id="findByMap" resultMap="frameResultMap">
        select id_,name_,folder_,remark_,created_time,creator_id from template_frame where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} = #{param.value}
        </foreach>
    </select>

    <select id="findByIn" resultMap="frameResultMap">
        select id_,name_,folder_,remark_,created_time,creator_id from template_frame where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} IN (#{param.value})
        </foreach>
    </select>

    <select id="findByLike" resultMap="frameResultMap">
        select id_,name_,folder_,remark_,created_time,creator_id from template_frame where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} LIKE #{param.value}
        </foreach>
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="int">
        select count(1) from template_frame where 1=1
        <if test="whereClause != null">
            ${whereClause}
        </if>
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="frameResultMap">
        select ${fieldsClause} from template_frame where 1=1
        <if test="whereClause != null">
            ${whereClause}
        </if>
        <if test="orderClause != null">
            ${orderClause}
        </if>
        <if test="limit > 0">
            limit ${limit} offset ${offset}
        </if>
    </select>

</mapper>