<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.inter.model.Model">
    <resultMap type="com.snake.inter.model.Model" id="typeResultMap">
        <result property="id" column="id_"/>
        <result property="applicationId" column="application_id"/>
        <result property="name" column="name_"/>
        <result property="code" column="code_"/>
        <result property="remark" column="remark_"/>
        <result property="status" column="status_"/>
        <result property="createdTime" column="created_time"/>
        <result property="creatorId" column="creator_id"/>
    </resultMap>

    <select id="selectAll" resultMap="typeResultMap">
		select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model
	</select>

    <select id="selectSome" parameterType="java.util.Map" resultMap="typeResultMap">
        select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model limit #{offset},#{limit}
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(1) from inter_model
    </select>

    <select id="getObject" resultMap="typeResultMap" parameterType="java.lang.Object">
        select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model where id_ = #{id}
    </select>

    <insert id="insert" parameterType="com.snake.inter.model.Model">
        insert into inter_model(id_,application_id,name_,code_,remark_,status_,created_time,creator_id)
        values(#{id},#{applicationId},#{name},#{code},#{remark},#{status},now(),#{creatorId})
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="com.snake.inter.model.Model">
        update inter_model
        <set>
            <if test="applicationId != null">
                application_id=#{applicationId},
            </if>
            <if test="name != null">
                name_=#{name},
            </if>
            <if test="code != null">
                code_=#{code},
            </if>
            <if test="remark != null">
                remark_=#{remark},
            </if>
            <if test="status != null">
                status_=#{status},
            </if>
        </set>
        where id_ = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Object">
        delete from inter_model where id_ = #{id}
    </delete>

    <select id="findOneByMap" resultMap="typeResultMap">
        select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} = #{param.value}
        </foreach>
        limit 0, 1
    </select>

    <select id="findOneByObject" parameterType="com.snake.inter.model.Model" resultMap="typeResultMap">
        select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model
        <where>
            <if test="applicationId != null">
                and application_id=#{applicationId}
            </if>
            <if test="name != null">
                and name_=#{name}
            </if>
            <if test="code != null">
                and code_=#{code}
            </if>
            <if test="remark != null">
                and remark_=#{remark}
            </if>
            <if test="status != null">
                and status_=#{status}
            </if>
        </where>
        limit 0, 1
    </select>

    <select id="findByObject" parameterType="com.snake.inter.model.Model" resultMap="typeResultMap">
        select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model
        <where>
            <if test="applicationId != null">
                and application_id=#{applicationId}
            </if>
            <if test="name != null">
                and name_=#{name}
            </if>
            <if test="code != null">
                and code_=#{code}
            </if>
            <if test="remark != null">
                and remark_=#{remark}
            </if>
            <if test="status != null">
                and status_=#{status}
            </if>
        </where>
    </select>

    <select id="findByMap" resultMap="typeResultMap">
        select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} = #{param.value}
        </foreach>
    </select>

    <select id="findByIn" resultMap="typeResultMap">
        select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} IN (#{param.value})
        </foreach>
    </select>

    <select id="findByLike" resultMap="typeResultMap">
        select id_,application_id,name_,code_,remark_,status_,created_time,creator_id from inter_model where 1=1 AND
        <foreach item="param" index="key" collection="list"  open="" separator="AND" close="">
            ${param.name} LIKE #{param.value}
        </foreach>
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="int">
        select count(1) from inter_model where 1=1
        <if test="whereClause != null">
            ${whereClause}
        </if>
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="typeResultMap">
        select ${fieldsClause} from inter_model where 1=1
        <if test="whereClause != null">
            ${whereClause}
        </if>
        <if test="orderClause != null">
            ${orderClause}
        </if>
        <if test="limit > 0">
            limit ${limit} offset ${offset}
        </if>
    </select>

</mapper>